<form class="dh-wrapper">
    <div class="dh-panel prompt">
        <h1 class="dh-panel__header">{{name}} Damage Roll</h1>
        <div class="dh-field__wrapper">
            <span class="dh-field__span">Damage</span>
            <input class='dh-field__input' type='text' id='damage' name='damage'/>
        </div>
        <div class="dh-field__wrapper">
            <span class="dh-field__span">Penetration</span>
            <input class="dh-field__input" type="number" data-dtype="Number" id="penetration" name='penetration' />
        </div>
    </div>
</form>
