{{#with rollData}}
    <form class="dh-wrapper">
        <div class="dh-panel spacer">
            <h1 class="dh-panel__header">{{name}} Roll</h1>
            <div class="dh-field__wrapper">
                <span class="dh-field__span">Base</span>
                <span class="dh-field__span">{{baseTarget}}</span>
            </div>
            <div class="dh-field__wrapper">
                <span class="dh-field__span">Difficulty</span>
                <select class="dh-field__input" data-dtype="Number" name="modifiers.difficulty" id='difficulty'>
                    {{selectOptions difficulties selected=modifiers.difficulty}}
                </select>
            </div>
            <div class="dh-field__wrapper">
                <span class="dh-field__span">Modifier</span>
                <input class="dh-field__input" type="number" data-dtype="Number" name="modifiers.modifier" id="modifier" value="0" />
            </div>
        </div>
    </form>
{{/with}}
