.dh {
  &-armour {
    &__wrapper {
      background: url('../images/armour.png') center/80% no-repeat, url('../images/40k_back.png') center/cover;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      max-height: 8rem;
    }

    &__block {
      flex-grow: 0;
      flex-basis: 30%;
      text-align: center;

      &--head,
      &--leftarm,
      &--rightarm,
      &--body,
      &--rightleg,
      &--leftleg,
      &--toughness {
        @extend .dh-armour__block;
      }

      &--toughness {
        margin-top: 1em;
      }
    }

    &__display {
      border: $grid-border;
      font-family: $font-family-alt;
      font-size: 14pt;
      font-weight: bold;
      line-height: 3.5rem;
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}
