.dh {
    &-chartable {
        display: grid;
        grid-template-columns: 0.75fr repeat(10, 0.5fr);
        grid-template-rows: repeat(7, 1fr);
        grid-auto-flow: column;

        select,
        input[type='number'],
        .dh-chartable__cell,
        .dh-chartable__cell--head {
            height: 100%;
            text-align: center !important;
        }

        &__cell {
            border-left: $grid-border;
            border-top: $grid-border;
            font-family: $font-family-alt;

            &--left {
                font-weight: bold;
                border-top: $grid-border;
            }

            &--head {
                font-weight: bold;
                border-left: $grid-border;
            }

            &--highlight {
                font-weight: bold;
            }
        }
    }
}
