.dh-chat {
  font-family: $font-family-alt;
  color: black;

  h1,
  h2,
  h3 {
    grid-column: 1 / -1;
    margin: 0;
    border: none;

    font-family: $font-family-alt;
    line-height: 1em;
    text-align: center;
  }

  h1 {
    padding: 0;
    color: black;
    font-family: $font-family-general;
    font-size: 14pt;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  h2 {
    font-size: 12pt;
  }

  h3 {
    font-size: 9pt;
    text-transform: uppercase;
    color: lighten(black, 20%);
  }

  .importantroll,
  .fullcrit,
  .fullfail,
  .inlinerollresult {
    border: none !important;
    background: transparent;

    font-family: inherit;
    line-height: 1em;
  }

  .fullcrit {
    color: darkgreen;
  }

  .fullfail {
    color: darkred;
  }

  //noinspection CssUnknownTarget
  .dh-roll {
    display: grid;
    gap: 0.25rem;
    padding: 1rem 1.5rem;

    background: url('../images/40k_back.png') no-repeat center/100% 100%;

    //noinspection CssUnknownTarget
    &__divider {
      width: 100%;
      height: 10px;
      grid-column: 1/-1;

      background: url('../images/divider.png') no-repeat center/100% 100%;
    }

    &__controls {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0.2rem;
      background: url('../images/chat-control.png') no-repeat center/100% 100%;
      font-weight: bold;
    }

    &__result {
      grid-column: 1 / -1;

      font-size: 4rem;
      text-align: center;
    }

    //noinspection CssUnknownTarget
    &__target {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 3em;
      padding: 0.5rem;
      background: url('../images/max.png') no-repeat center/100% 100%;
      font-weight: bold;
    }

    &__notice {
      grid-column: 1 / -1;
      padding: 0.3rem;

      color: white;

      font-size: 1rem;
      font-weight: bold;
      letter-spacing: .5px;
      text-align: center;
      text-transform: uppercase;

      > span:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &__success,
    &__fail {
      grid-column: 1 / -1;
      padding: 0.3rem;

      color: white;

      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;

      > span:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    //noinspection CssUnknownTarget
    &__notice {
      background: #535538;
      background: url('../images/notice.png') no-repeat center/100% 100%;
    }

    //noinspection CssUnknownTarget
    &__success {
      background: #073;
      background: url('../images/success.png') no-repeat center/100% 100%;
    }

    //noinspection CssUnknownTarget
    &__fail {
      background: #900;
      background: url('../images/fail.png') no-repeat center/100% 100%;
    }

    &__row {
      display: grid;
      grid-template-columns: 0.75fr 1fr;
      gap: 0.25rem;

      &--number {
        grid-template-columns: 1fr 3rem;
      }

      &--full {
        @extend .dh-roll__row;
        grid-template-columns: 1fr;

        grid-column: 1 / -1;
      }
    }

    &__label {
      font-weight: bold;
      text-align: left;
    }

    &__value {
      text-align: center;

      .inlinerollresult {
        font-weight: normal;
      }
    }

    &_sl {
      font-size: 0.9em;
    }

    &__text {
      max-height: 10em;
      overflow: hidden auto;
      padding: 0.25rem;
    }
  }
}
