input[type='date'],
input[type='text'],
input[type='number'],
textarea,
select {
  padding: 0;
  background: $form-input-background;
  color: $form-input-foreground;
  vertical-align: baseline;
  height: 100%;

  &:focus,
  &:active,
  &:hover {
    background: $form-active;
    outline: 0;
  }
}

.error {
  background: rgba(255, 0, 0, 0.1);
}

.success {
  background: rgba(104, 195, 163, 0.3);
}

input[disabled],
select[disabled],
textarea[disabled],
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: unset !important;
  border-color: unset !important;
  cursor: unset !important;
  color: $form-input-disabled !important;

  > option {
    color: $form-input-disabled !important;
  }
}

textarea {
  text-align: left;
}

input[type='number'] {
  text-align: center;
}

input[type='checkbox'] {
  margin: auto;
  width: 1em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  cursor: pointer;
}

button {
  cursor: pointer;
  text-shadow: none;
}

.dh-field,
.dh-textarea {
  border-bottom: $grid-border;

  &:last-child {
    border-bottom: 0;
  }

  &__span {
    font-family: $font-family-alt;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > * {
      border-bottom: 1px solid #000 !important;
    }

    > *:first-child {
      border-right: 1px solid #000 !important;
    }
  }
}

.dh-field {
  display: flex;
  flex-flow: row nowrap;

  &__header {
    flex-shrink: 0;

    &--flex {
      display: flex;
      align-items: center;

      > span {
        flex-basis: 50%;
      }

      > button {
        flex-basis: 25%;
      }
    }
  }

  &__input {
    flex-grow: 1;
    padding-right: 0.5em;

    &.check {
      background: $form-input-background;
    }

    input[type='checkbox'] {
      margin: 3px 5px;
    }

  }

  &__span {
    text-align: center;
  }

  &__image {
    height: 15px;
    width: 15px;
    border: none;
  }
}

.dh-textarea {
  display: flex;
  flex-flow: row nowrap;

  &__header {
    flex-shrink: 0;
  }

  &__textarea {
    flex-grow: 1;
  }
}
