%row {
  display: grid;
  grid-column: 1 / -1;
}

%cell {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: hidden;

  &:first-child {
    font-weight: bolder;
    margin-block: auto;
  }

  &:first-child {
    text-align: left;
  }

  &:not(:first-child) {
    text-align: center;
  }

  label,
  span {
    padding: 1px;
  }

  span:empty {
    display: none;
  }

  select,
  input[type='text'],
  input[type='number'] {
    height: 100%;
    text-align: center !important;
  }
}

%cell--head {
  &:first-child {
    text-align: left;
  }

  &:not(:first-child) {
    text-align: center;
  }
}

%description {
  @extend %cell;
  grid-column: 1 / -1;
}

%grid-row {
  display: grid;
  border-bottom: $grid-border;
}

%grid-row--unknown {
  @extend %grid-row;
  background-color: rgba(255, 0, 0, 0.1);
}

%grid-row--inverted {
  @extend %grid-row;
  border-bottom: 0;
  border-top: $grid-border;
}

%grid-row-head {
  @extend %grid-row;
  font-weight: bold;

  &:first-child {
    text-align: left;
  }

  &:not(:first-child) {
    text-align: center;
  }
}

%grid-cell {
  border-right: $grid-border !important;
  overflow: hidden;

  input[type='number'] {
    height: 100%;
  }

  > span[name*='attr'] {
    font-family: $font-family-alt;
    font-size: 1.25rem;
  }

  &:first-child {
    text-align: left;
  }

  &:not(:first-child) {
    text-align: center;
  }
}

%grid-cell--last {
  @extend %grid-cell;
  border-right: 0;
}

%grid-cell--highlight {
  font-weight: bold;
}

%grid-cell--description {
  border-top: $grid-border-description;
  grid-column: 1 / -1;
  font-size: 0.95em;
  font-style: italic;
}
