%hide {
    display: none;
}

%show {
    display: block;
}

%show-grid {
    display: grid;
}

.sheet-control__hide-control {
    cursor: pointer;
}

.sheet-control__hide {
    @extend %hide;
}

.sheet-control__show {
    @extend %show;
}

.sheet-control__hide-grid {
    @extend %hide;
}

.sheet-control__show-grid {
    @extend %show-grid;
}

// Trait Details Toggle
.dh-traittoggle {
    @at-root label#{&} {
        text-align: left;
        cursor: pointer;
    }

    &__span {
        text-align: left;
    }
}
