.dh {
    &-wrapper {
        .tab.active {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 0;
        }
    }

    &-body {
        grid-column: span 6;
    }

    &-navigation {
        @extend .dh-panel;
        grid-column: span 6;
        display: flex;
        align-items: center;
        justify-content: end;

        label {
            width: auto;
            margin: $margin-general;
            cursor: pointer;

            input {
                display: none;
            }
        }

        &__item {
            &-left {
                margin-right: auto !important;
            }

            a {
                padding: $margin-small $margin-general;
                border: 1px solid $form-input-background;
                border-radius: 5px;
                line-height: 1.5;
                text-transform: uppercase;

                &.active {
                    background: $form-input-background;
                    border: 1px solid darken($form-input-background,15%);
                }
            }
        }
    }
}
