.dh {
  &-controls {
    button {
      background: rgba($form-button-background, 0.125);
      text-align: center;
    }
  }

  &-panel {
    position: relative;
    padding: 2px;

    background: url('../images/40k_back.png') #eff2f1 center/cover;
    border: 3px solid transparent;
    border-image: url('../images/panel_border.png') 8 / 2 / 0 repeat;

    &.prompt {
      margin-bottom: 5pt;
    }

    &--inquisition {
      @extend .dh-panel;
      background: url('../images/inqu_watermark.png') center/70% no-repeat, url('../images/40k_back.png') center/cover;
      grid-column: span 1;
      grid-row: span 2;
      min-height: 150px;
    }

    h1 {
      border-bottom: $grid-border;

      &.dh-panel__header {
        font-size: $h1-size;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;

        .dh-trait-toggle__span {
          font-size: $h1-size;
          font-weight: normal;
          text-align: center;
          text-transform: uppercase;
        }
      }

      &.span-4 {
        grid-column: span 4;
      }
    }
  }
}
