.dh-panel {
    position: relative;
    padding: 2px;

    h1.dh-panel__header {
        font-size: $h1-size;
        font-weight: normal; 
        text-align: center;
        text-transform: uppercase;
    }
}
