.dh {
    &-settings {
        padding-top: $margin-general;
        padding-bottom: $margin-general;
        border-top: $grid-border-settings;
        background: rgba(195, 223, 241, 0.125);
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3px;

        input.dh-settings__input[type='text'],
        input.dh-settings__input[type='number'],
        textarea.dh-settings__textarea,
        select.dh-settings__select {
            background-color: $form-input-background;
            color: $form-input-foreground;
            border-radius: 3px;
            text-align: center;
        }

        &--border {
            @extend .dh-settings;
            gap: 0;

            .clean {
                border-top: none;
            }

            .dh-settings {
                &__row--xlarge,
                &__row--large,
                &__row {
                    border-bottom: 1px solid $border-color;
                }
            }
        }

        h2 {
            grid-column: 1 / -1;
            text-align: center;
            text-transform: uppercase;
            font-family: $font-family-alt;
            border-bottom: 1px solid $border-color;

            :first-child {
                margin-top: -3pt;
            }

            &:not(:first-child) {
                margin-top: 5pt;
            }
        }

        &--noborder {
            @extend .dh-settings;
            border: 0;
        }

        &__header {
            margin-top: $margin-general;
            border-bottom: $grid-border;
            font-weight: bold;

            &:not(:first-child) {
                text-align: center;
            }
        }

        &--large {
            @extend .dh-settings;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        &__row {
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            text-align: left;

            &--large {
                @extend .dh-settings__row;
                grid-column: 1 / -1;
                grid-template-columns: 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr;
            }

            &--xlarge {
                @extend .dh-settings__row;
                grid-column: 1 / -1;
                grid-template-columns: 0.4fr 1fr 0.4fr 1fr 0.4fr 1fr 0.4fr 1fr;
            }

            &--label {
                @extend .dh-settings__row;
                grid-template-columns: 5rem 1fr;
            }

            &--span {
                @extend .dh-settings__row;
                grid-column: 1 / -1;
                grid-template-columns: 9rem 1fr;
            }

            &--span-even {
                @extend .dh-settings__row;
                grid-column: 1 / -1;
                grid-template-columns: 1fr 1fr;
            }

            &--characteristics {
                @extend .dh-settings__row;
                grid-column: 1 / -1;
                grid-template-columns: 1.5fr repeat(10, 1fr);

                > * {
                    display: grid;
                    grid-auto-rows: 2rem;
                    border-right: 1px solid #000;

                    &:last-child {
                        border: none;
                    }

                    > div {
                        border-bottom: 1px solid #000;

                        &:last-child {
                            border: none;
                        }
                    }
                }

                input[type='number'],
                input[type='text'] {
                    border-radius: 0 !important;

                    &:last-child {
                        border: none;
                    }
                }

                label {
                    border-bottom: 1px solid #000;
                }
            }

            &--invert {
                @extend .dh-settings__row;
                grid-template-columns: 2fr 0.5fr;
                text-align: left;
            }

            &--skill {
                @extend .dh-settings__row;
                grid-template-columns: 1fr 0.35fr;
                gap: 3px;
                margin-bottom: 3pt;
            }

            &--skillinit,
            &--talentinit,
            &--traitinit {
                @extend .dh-settings__row;
                grid-template-columns: 1fr 0.45fr 0.45fr;
                gap: 3px;
                margin-bottom: 3pt;
            }

            &--talent,
            &--trait {
                @extend .dh-settings__row;
                grid-template-columns: 1fr 0.35fr;
                gap: 3px;
                margin-bottom: 3pt;
            }
        }

        &__label {
            display: block;
            margin-left: 5pt;

            &--add {
                @extend .dh-material;
                @extend .dh-settings__label;
                cursor: pointer;
                &:hover {
                    color: red;
                }
            }

            &--full {
                grid-column: 1 / -1;
                text-align: left;
            }
        }

        &__description {
            text-align: center;
            padding-top: 3px;
            text-transform: uppercase;
        }

        &__item {
            text-align: center;

            input[type='checkbox'] {
                display: none;
            }

            input.dh-settings__input.dh-settings__input[type='number'] {
                pointer-events: none;
                background: transparent;
                color: #000;
            }

            label {
                display: block;
                cursor: pointer;
                text-align: center;

                &:hover {
                    color: red;
                }
            }
        }

        &__split {
            &--2 {
                display: grid;
                grid-template-columns: 1fr 3em;
            }

            &--2-even {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            &--3 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        &__textarea {
            grid-column: 1 / -1;
        }

        &__titlewrap {
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: 10rem 1fr;
            align-items: center;

            h2 {
                grid-column: auto;
                text-indent: -10rem;
            }
        }

        &__controlwrap {
            span.dh-current_level {
              //noinspection CssUnknownTarget
              &--1,
                &--2,
                &--3,
                &--4 {
                    display: none;
                    background: url('../images/success.png') no-repeat center/100% 100%;
                    color: #fff;
                    font-size: 9pt;
                    font-family: $font-family-alt;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

          //noinspection CssUnknownTarget
          button[type='action'] {
                background: url('../images/fail.png') no-repeat center/100% 100%;
                color: #fff;
                font-size: 9pt;
                font-family: $font-family-alt;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }

            input[name*='career_level_current'] {
                @each $level in 1, 2, 3, 4 {
                    &[value='#{$level}'] {
                        & + button[name*='#{$level}'] {
                            display: none;
                        }

                        & ~ span.dh-current_level--#{$level} {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &-settingstable {
        &__row {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: $margin-small;
            margin: $margin-small;
        }
    }
}
