.dh-header {
    &__logo_image {
        height: 100px;
        border: 0;
        padding: .5rem;
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: auto;
        padding: 0 1.5em .5em;
    }

    &__item-wrapper {
        display: flex; 
        flex-flow: row nowrap;
        align-items: baseline;
        min-width: 0;

        &__logo,
        &--character_name,
        &--homeworld,
        &--background,
        &--role,
        &--elite,
        &--divination,
        &--gender,
        &--age,
        &--build,
        &--complexion,
        &--height,
        &--hair,
        &--eyes,
        &--quirks,
        &--notes,
        &--momentos {
            @extend .dh-header__item-wrapper;
        }

        &--character_name,
        &--homeworld,
        &--background,
        &--role,
        &--superstition {
            grid-column: span 2;
        }

        &--elite {
            grid-column: 3 / span 2;
        }

        &--logo,
        &--momentos,
        &--divination,
        &--notes {
            grid-column: span 4;
        }
    }

    &__title {
        flex-shrink: 0;
        margin-right: $margin-large;
        font-weight: bold;
    }

    &__select,
    &__input,
    &__display {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;
        max-width: 100%;
        padding: 0.25rem;
    }

    &__select,
    &__input {
        height: 100% !important;
    }
}
