<div class="dh-wrapper">
    <form class="dh-item" autocomplete="off">
        <div class="dh-panel dh-grid-col-6">
            <div class="dh-header">
                <div class="dh-header__info">
                    <div class="dh-header__logo dh-header__item-wrapper--span-4" style="min-height:50px"></div>
                    <div class="dh-header__item-wrapper--span-4">
                        <span class="dh-header__title">Name</span>
                        <input class="dh-header__input" name="name" type="text" value="{{item.name}}" />
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Date</span>
                        <input class="dh-header__input" name="system.time" type="date" value="{{item.system.time}}" />
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Place</span>
                        <input class="dh-header__input" name="system.place" type="text" value="{{item.system.place}}" />
                    </div>
                    <div class="dh-header__item-wrapper--text-area">
                        <span class="dh-header__title">Entry</span>
                        <textarea class="dh-header__textarea" name="system.description">{{item.system.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>