<div class='dh-controls dh-panel dh-grid-col-2'>
  <h1 class='dh-panel__header'>Controls</h1>
  <div class='dh-controls__wrapper'>
    <div class='dh-control-button'>
      <button type='roll'>Initiative</button>
    </div>
    <div class='dh-control-button'>
      <button type='roll'>Attack</button>
    </div>
    <div class='dh-control-button'>
      <button type='roll'>Dodge</button>
    </div>
    <div class='dh-control-button'>
      <button type='roll'>Parry</button>
    </div>
    <div class='dh-control-button'>
      <button type='roll'>Force Field</button>
    </div>
    <div class='dh-control-button'>
      <button type='roll'>Active Effect</button>
    </div>
  </div>
</div>
