<div class="dh-controls dh-panel dh-grid-col-2">
    <h1 class="dh-panel__header">Controls</h1>
    <div class="dh-controls__wrapper">
        <div class="dh-control-button">
            <button type="roll" class='combat-control' data-action='attack'>Attack</button>
        </div>
        <div class="dh-control-button">
            <button type="roll" class='combat-control' data-action='assign-damage'>Assign Damage</button>
        </div>
        <div class="dh-control-button">
            <button type="roll" class='combat-control' data-action='dodge'>Dodge</button>
        </div>
        <div class="dh-control-button">
            <button type="roll" class='combat-control' data-action='parry'>Parry</button>
        </div>
    </div>
</div>
