<div class="dh-panel spacer dh-grid-col-2 dh-grid-row-1">
    <h1 class="dh-panel__header">Fate</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Max</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.fate.max" value="{{actor.fate.max}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Value</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.fate.value" value="{{actor.fate.value}}" />
    </div>
</div>
