<div class="dh-fate dh-panel">
    <h1 class="dh-panel__header">Fate</h1>
    <div class="dh-field--grid1-1">
        <span class="dh-field__header">Max</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="data.fate.max" value="{{data.fate.max}}"/>
    </div>
    <div class="dh-field--grid1-1">
        <span class="dh-field__header">Value</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="data.fate.value" value="{{data.fate.value}}"/>
    </div>
</div>
