<div class="dh-panel spacer dh-grid-col-2 dh-grid-row-1">
    <h1 class="dh-panel__header">Fatigue</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Max</span>
        <span class="dh-field__span">{{actor.fatigue.max}}</span>
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Value</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.fatigue.value" value="{{actor.fatigue.value}}" />
    </div>
</div>
