<div class="dh-fatigue dh-panel">
    <h1 class="dh-panel__header">Fatigue</h1>
    <div class="dh-field--grid1-1">
        <span class="dh-field__header">Max</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="data.fatigue.max" value="{{data.fatigue.max}}"/>
    </div>
    <div class="dh-field--grid1-1">
        <span class="dh-field__header">Value</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="data.fatigue.value" value="{{data.fatigue.value}}"/>
    </div>
</div>
