<div class="dh-movement dh-panel">
    <h1 class="dh-panel__header">Movement</h1>
    <div class="dh-field--grid1-2">
        <span class="dh-field__header">Half</span>
        <span class="dh-field__span">{{data.movement.half}}m</span>
    </div>
    <div class="dh-field--grid1-2">
        <span class="dh-field__header">Full</span>
        <span class="dh-field__span">{{data.movement.full}}m</span>
    </div>
    <div class="dh-field--grid1-2">
        <span class="dh-field__header">Charge</span>
        <span class="dh-field__span">{{data.movement.charge}}m</span>
    </div>
    <div class="dh-field--grid1-2">
        <span class="dh-field__header">Run</span>
        <span class="dh-field__span">{{data.movement.run}}m</span>
    </div>
</div>
