<div class="dh-panel dh-grid-col-2 dh-grid-row-1">
    <h1 class="dh-panel__header">Psyker</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Psy Rating</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.psy.rating" value="{{actor.psy.rating}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Sustained Rating</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.psy.sustained" value="{{actor.psy.sustained}}" />
    </div>
    <div class="dh-field__wrapper">
        <div class="dh-field__header">Has Focus</div>
        <span class="dh-field__input check">
            <input {{checked actor.psy.hasFocus}} data-dtype="Boolean" type="checkbox" name="system.psy.hasFocus" />
        </span>
    </div>
    <div class="dh-field__wrapper">
        <div class="dh-field__header">Class</div>
        <input class="dh-field__input" type="text" name="system.psy.class" value="{{actor.psy.class}}" />
    </div>
</div>