<div class="dh-panel spacer dh-grid-col-2">
    <h1 class="dh-panel__header">Integrity</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Max</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.integrity.max" value="{{actor.integrity.max}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Value</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.integrity.value" value="{{actor.integrity.value}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Critical</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.integrity.critical" value="{{actor.integrity.critical}}" />
    </div>
</div>
