<div class="dh-panel spacer dh-grid-col-2">
    <h1 class="dh-panel__header">Armour</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Front</span>
        <span class="dh-field__span">{{actor.movement.half}}m</span>
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Side</span>
        <span class="dh-field__span">{{actor.movement.full}}m</span>
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Rear</span>
        <span class="dh-field__span">{{actor.movement.charge}}m</span>
    </div>
</div>
