//noinspection CssUnknownTarget
.dh-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 20px solid transparent;
    border-image: url('../images/border-floral.png') 95 / 20px / 0 round;
    grid-gap: 0;

    > * {
        min-width: 100px;
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: auto;
        padding: 0 1.5em 0.5em;

        &__item-wrapper {
            display: flex;
            flex-flow: row nowrap;
            align-items: baseline;
            min-width: 0;
        }
    }
}
