.dh-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 30px solid transparent;
  border-image: url("../images/border.png") 30 round;
  grid-gap: 0px;
  > * {
    min-width: 100px;
  }

  .tab.active {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: auto;
    padding: 0 1.5em .5em;

    &__item-wrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      min-width: 0;
    }
  }

  .dh {
    &-image {
      grid-column: 1 / -1;
    }

    &-header {
      grid-column: 1 / -1;
    }

    &-navigation {
      grid-column: 1 / -1;
    }

    &-controls {
      grid-column: span 2;

      &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $margin-small;
        margin: $margin-small;
      }
    }

    &-settingswrapper {
      grid-column: span 2;
      display: flex;
      flex-direction: column;

      > * {
        flex-grow: 1;
      }
    }
  }
}
