$margin-small: .25rem;
$margin-general: .5rem;
$margin-large: 1rem;

$border-color: black;
$border-color-recessed: dimgrey;

$form-input-disabled: black;
$form-input-foreground: #000;
$form-input-background: rgba(36, 107, 131, 0.125);
$form-input-border: 1px solid rgb(44, 76, 87);
$form-active: rgba(51, 129, 155, .125);
$border-color: black;
$form-button-background: rgb(44, 76, 87);

$grid-border: 1px solid $border-color;
$grid-border-description: 1px dotted $border-color-recessed;
$grid-border-settings: 2px dashed #404040;
