
$margin-small: .25rem;
$margin-general: .5rem;
$margin-large: 1rem;

$border-color: black;
$border-color-recessed: dimgrey;

$form-input-foreground: #000;
$form-input-background: rgba(36, 107, 131, 0.125);
$form-input-border: 1px solid rgb(44, 76, 87);
$form-active: rgba(51, 129, 155, .125);
$border-color: black;
$form-button-background: rgb(44, 76, 87);

$grid-border: 1px solid $border-color;
$grid-border-description: 1px dotted $border-color-recessed;
$grid-border-settings: 2px dashed #404040;

$attributes:
        "weapon_skill",
        "ballistic_skill",
        "strength",
        "toughness",
        "agility",
        "intelligence",
        "perception",
        "willpower",
        "fellowship",
        "influence";

$skills:
        "acrobatics",
        "athletics",
        "awareness",
        "charm",
        "command",
        "commerce",
        "deceive",
        "dodge",
        "inquiry",
        "interrogation",
        "intimidate",
        "logic",
        "medicae",
        "parry",
        "psyniscience",
        "scrurity",
        "security",
        "sleight-of-hand",
        "stealth",
        "survial",
        "tech-use",
        "common-lore",
        "forbidden-lore",
        "linguistics",
        "navigate",
        "operate",
        "scholastic-lore",
        "trade";

$specialisations:
        "adepta_sororitas",
        "adeptus_arbites",
        "adeptus_astartes",
        "adeptus_astra_telepathica",
        "adeptus_mechanicus",
        "administratum",
        "askellon_sector",
        "chartist_captains",
        "collegia_titanicus",
        "ecclesiarchy",
        "imperial_creed",
        "imperial_guard",
        "imperial_navy",
        "imperium",
        "_navigators",
        "planetary_defence_forces",
        "rogue_traders",
        "schola_progenium",
        "tech",
        "underworld",
        "war",
        "archaeotech",
        "chaos_space_marines",
        "criminal_cartels_and_smugglers",
        "daemonology",
        "heresy",
        "the_horus_heresy_and_the_long_war",
        "inquisition",
        "mutants",
        "officio_assassinorum",
        "pirates",
        "psykers",
        "the_warp",
        "xenos",
        "chapter_runes",
        "chaos_marks",
        "eldar",
        "high_gothic",
        "imperial_codes",
        "low_gothic",
        "mercenary_cant",
        "necrontyr",
        "techna_lingua",
        "tau",
        "xenos_markings",
        "surface",
        "stellar",
        "warp",
        "aeronautica",
        "voidship",
        "astromancy",
        "beasts",
        "bureaucracy",
        "chymistry",
        "cryptology",
        "heraldry",
        "imperial_warrants",
        "judgement",
        "legend",
        "numerology",
        "occult",
        "philosophy",
        "tactica_imperialis",
        "agri",
        "archaeologist",
        "armourer",
        "astrographer",
        "chymist",
        "cryptographer",
        "cook",
        "explorator",
        "loremancer",
        "morticator",
        "performancer",
        "prospector",
        "scrimshawer",
        "sculptor",
        "shipwright",
        "soothsayer",
        "technomat",
        "voidfarer";

