$h1-size: 1.15rem;
$h2-size: .9rem;
$h3-size: .8rem;

$font-general-medium: 1rem;
$font-alt-medium: .95rem;

$font-family-general: "IM Fell DW Pica", serif;
$font-family-alt: "Lusitana", serif;

.dh-wrapper {
    font-family: $font-family-general;
    font-size: $font-general-medium;

    button[type=roll] {
        margin: 0;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }

    button,
    button[type=roll],
    input[type=text],
    input[type=number],
    select,
    option,
    textarea,
    label,
    span.display {
        font-family: $font-family-alt;
        font-size: 10pt;
    }

    h1, h2, h3 {
        margin: 0;
        padding: 0;
        font-family: $font-family-general;
    }

    h1 {
        font-size: $h1-size;
    }

    h2 {
        font-size: $h2-size;
    }

    h3 {
        font-size: $h3-size;
    }
}
